<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询日志详情</title>
    <style type="text/css">
        table{
            border-collapse:collapse;
        }
        table tr td{ border: #17b2fd solid 1px; background-color:#EAF2D3; text-align:center; line-height:18px;}
    </style>
</head>
<body>
详情
<table >
    <tr>
        <td style="width: 100px;">类型</td>
        <td style="width: 50px;" >类型</td>
        <td style="width: 800px;">详情</td>
    </tr>
    <tr th:each="c, State : ${session.contents}">
        <td style="width: 100px;" th:text="${c.type}">内容1</td>
        <td style="width: 50px;" th:text="${c.isfix}">2</td>
        <td style="width: 800px;" th:text="${c.content}">内容3</td>
    </tr>
</table>
</body>
</html>