
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>小说导航</title>
</head>
<body style="font-size: 24px;color:midnightblue;text-align:left;margin-left: 2cm">
<div>
    欢迎来到小说导航网，持续更新中……
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<div>
    <a href="http://www.zongheng.com/">纵横小说</a>
    <br/>
    <br/>
</div>
<div>
    <a href="http://book.km.com/">七猫小说</a>
    <br/>
    <br/>
</div><div>
    <a href="https://www.17k.com/">17Kx小说</a>
    <br/>
    <br/>
</div>
<div>
    <a href="http://www.yuetutu.com/">笔趣阁小说</a>
    <br/>
    <br/>
</div><div>
    <a href="http://www.fbook.net/">天下书盟</a>
    <br/>
    <br/>
</div><div>
    <a href="http://yunqi.qq.com/">云起小说</a>
    <br/>
    <br/>
</div>
</div><div>
    <a href="http://www.shuhai.com/">书海小说</a>
    <br/>
    <br/>
</div>
<div>
    <a href="http://www.hybooks.cn/">爱阅小说</a>
    <br/>
    <br/>
    </div>
<div>
    <a href="https://www.ddshu.net/">豆豆小说</a>
    <br/>
    <br/>
</div>
<div>
    <a href="http://www.xiang5.com/">香网</a>
    <br/>
    <br/>
</div>
</body>
</html>