<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>用AJAX以JSON方式提交数据</title>
    <script type="text/javascript" src="jquery.min.js"></script>
</head>
<body>
<form >
    id：<input type="text" id="id"/><br/>
    内容：<input type="text" id="content"/><br/>
    类型： <input type="text" name="damage" id="type"> <br>
    是否处理： <input type="text" name="damage" id="isfix"> <br>
    <input type="button" value="提交" id="sender">
</form>

<script>
    $('#sender').click(function(){
        var id=document.getElementById("id").value;
        var content=document.getElementById('content').value;　　　　　　 //从输入端获取 值
        var type=document.getElementById('type').value;
        var isfix=document.getElementById("isfix").value;
        var json_content={"id":id,"content":content,"tpye":type,"isfix":isfix};　　　　　　　　　　　　　　   //把获取的值格式化
        var url="/insert";
        //以post方式提交ajax
        $.post(
            url,
            {"data":JSON.stringify(json_content)},　　　　　　　　　　　//提交的数据是把上面的hero转化为json格式
            function(data) {
                alert("提交成功，请在Tomcat控制台查看服务端接收到的数据");
            });
    });
</script>
</body>

</body>
</html>