<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
<div class="one">

    <p>
    <form method="get" action="/login">
    <p>用户名</p><input type="text" size="15"><br />
        <br />
    <p>密码</p>
        <input type="text" size="15"><br /><br /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" value="登录">
    </form>
    <button action="/register">
        注册
    </button>
    </p>

</div>
</body>
</html>
